# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Database Backups (Safety First: Don't push local data to Git)
database_backups/

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
